//DATABASE USING POSTGRESQL
//COPY THIS FILE AND RENAME TO "config.json"

{
    "db" : {
        "user": "DB_USER",
        "host": "DB_HOST",
        "database": "DB_NAME",
        "password": "DB_PASSWORD",
        "port": DB_PORT
    }
}