// Here is where you set your 
// postgresql env for developement or production

{
    "db" : {
        "user": "postgres",
        "host": "localhost",
        "database": "shopee-dev",
        "password": "terserah",
        "port": 5432
    }
}